<h1 style="color: #9a2525">Une personne a essayé de vous contacter</h1>
<ul>
    <li>Nom: {{ name | raw }}</li>

    <li>Email : {{ email  | raw }}</li>

    <li>Message : {{ content | raw }}</li>

</ul>